@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Bold.ttf');
  font-weight: 700;
}

* {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
}

/* custom dot react slick */

.slick-dots {
  bottom: -31px;
  padding: 0;
  margin: 0;
}

.slick-dots li {
  width: 10px !important;
  height: 10px !important;
  margin: 0 6px !important;
  padding: 0 !important;
}

.slick-dots li button {
  width: 10px !important;
  height: 10px !important;
  padding: 0px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
  line-height: 10px !important;
  width: 10px !important;
  height: 10px !important;
}

.slick-dots li.slick-active button:before {
  opacity: 1 !important;;
  color: #5C3CAF !important;
}